@font-face {
	font-family: 'fontello';
	src: url('fontello.eot');
	src: url('fontello.eot') format('embedded-opentype'),
		 url('fontello.woff') format('woff2'),
		 url('fontello.woff') format('woff'),
		 url('fontello.ttf') format('truetype'),
		 url('fontello.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin-left: .2em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-right: 5px;
  }

  .icon-eye:before { content: '\e800'; }
  .icon-clock:before { content: '\e801'; }
  .icon-comment:before { content: '\e802'; }
@font-face {
	font-family: 'Proxima Nova';
	src: url('ProximaNova-Regular.eot');
	src: local('Proxima Nova Regular'), local('ProximaNova-Regular'),
	url('ProximaNova-Regular.eot#iefix') format('embedded-opentype'),
	url('ProximaNova-Regular.woff') format('woff'),
	url('ProximaNova-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('ProximaNova-Light.eot');
	src: local('Proxima Nova Light'), local('ProximaNova-Light'),
	url('ProximaNova-Light.eot#iefix') format('embedded-opentype'),
	url('ProximaNova-Light.woff') format('woff'),
	url('ProximaNova-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('ProximaNova-Bold.eot');
	src: local('Proxima Nova Bold'), local('ProximaNova-Bold'),
	url('ProximaNova-Bold.eot#iefix') format('embedded-opentype'),
	url('ProximaNova-Bold.woff') format('woff'),
	url('ProximaNova-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('ProximaNovaT-Thin.eot');
	src: local('Proxima Nova Thin'), local('ProximaNovaT-Thin'),
	url('ProximaNovaT-Thin.eot#iefix') format('embedded-opentype'),
	url('ProximaNovaT-Thin.woff') format('woff'),
	url('ProximaNovaT-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('ProximaNova-Semibold.eot');
	src: local('Proxima Nova Semibold'), local('ProximaNova-Semibold'),
	url('ProximaNova-Semibold.eot#iefix') format('embedded-opentype'),
	url('ProximaNova-Semibold.woff') format('woff'),
	url('ProximaNova-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('ProximaNova-Extrabld.eot');
	src: local('Proxima Nova Extra Bold'), local('ProximaNova-Extrabld'),
	url('ProximaNova-Extrabld.eot#iefix') format('embedded-opentype'),
	url('ProximaNova-Extrabld.woff') format('woff'),
	url('ProximaNova-Extrabld.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}
