.beauty_shortcode {
    text-align: center;
  }
  .beauty_shortcode a {
  	font-family: "Proxima Nova";
  	font-size: 16px;
  	line-height: 18px;
    background-color: #00c856;
    color: #fff;
    padding: 5px 7px;
    border-radius: 7px;
  }
  .alignleft {
      float: left;
      margin-right: 10px;
  }
  .alignright {
      float: right;
      margin-left: 10px;
  }
  .aligncenter {
      margin: 0 auto;
      display: block;
  }
  .container .text-block > p:after {
      content: '';
      display: block;
      clear: both;
  }
@media (max-width: 1280px) {
    .container {
        width: 96%;
    }
}
@media (max-width: 1180px) {
    .bonuses__content-inner .content2__table .table__item-image {
        width: initial;
        margin-right: 15px;
    }
}
@media (max-width: 1024px) {
    .casino-rating__item .item-inner .item__rating-block span,
    .casino-rating__item .item-inner .item__rating-block span::before {
        font-size: 22px;
    }
    .container-all .right-column {
        width: 32%;
    }
    .container-all .left-column {
        width: 69%;
    }
    .casino-rating__item .item-inner .item__rating-block span::before {
        top: 0;
        left: 3px;
    }
}
@media (max-width: 992px) {
    .casino-rating__item .item-inner__links a {
        padding: 4px 5px;
    }
    .content2 .container .content2-inner .content2__table .table__item-info {
        width: 54%;
    }
    .table__item-image {
        margin-right: 10px;
    }
    .site-full .container .site-full-inner .left-column .rating-block,
    .site-full .container .site-full-inner .left-column .overview-first,
    .site-full .container .site-full-inner .left-column .overview-second,
    .site-full .container .site-full-inner .left-column .plusandminus {
        padding: 0 10px;
        box-sizing: border-box;
    }
    .site-full .container .site-full-inner .left-column .content2__table,
    .site-full .container .site-full-inner .left-column .page-text,
    .site-full .container .site-full-inner .left-column .page-title,
    .site-full .container .site-full-inner .left-column #banner2-casino {
        padding: 10px;
        box-sizing: border-box;
    }
    .site-full .container .site-full-inner .left-column .page-ul,
    .site-full .container .site-full-inner .left-column .page-ol {
        padding-left: 27px;
        padding-right: 0;
    }
    img {
        max-width: 100%;
        height: initial;
    }
    .bonuses__content .container .bonuses__content-inner .left-column {
        max-width: 60%;
    }
    .notes__item {
        box-sizing: border-box;
    }
    .notes__item-image {
        flex: none;
    }
    .header .container .header-inner .menu .menu-inner__item ul {
        background: #fe9024;
    }
    .content .container .content-inner .blog .slider {
        z-index: 999;
    }
    .header .container .header-inner .menu .menu-inner__item:hover ul li {
        background: inherit;
    }
    .menu-arrow {
        position: absolute;
        width: 25px;
        height: 20px;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
    .menu-arrow span {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #ff6600;
        width: 100%;
        height: 3px;
    }
    .menu-arrow span:nth-child(2) {
        top: 9px;
    }
    .menu-arrow span:nth-child(3) {
        bottom: 0;
        top: initial;
    }
    .header .container .header-inner .menu {
        min-height: 20px;
    }
    .header .container .header-inner .menu .menu-inner {
        display: none;
        position: fixed;
        z-index: 1000;
        background: #fff;
        width: 80%;
        height: 100%;
        top: 82px;
        right: 0;
        padding: 10px;
    }
    .header .container .header-inner .menu #menu-under {
        display:none;
        position: fixed;
        z-index: 999;
        top: 81px;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 0.5;
        background: #000;
    }
    .header .container .header-inner .menu .menu-inner__item a {
        text-align: center;
    }
    .header .container .header-inner .menu .menu-inner__item ul {
        width: 100%;
    }
    .header .container .header-inner .menu .menu-inner__item ul li.items__unit {
        padding: 0;
    }
    .header .child-arrow {
        width: 9px;
        height: 5px;
        position: absolute;
        background: url(/wp-content/themes/ontilt/images/menu-arrow-down.png) no-repeat center;
        padding: 5px;
        right: 5px;
        top: 9px;
    }
    .header .container .header-inner .menu .menu-inner__item.has-child > a {
        padding-right: 10px;
    }
    .header .container .header-inner .menu .has-child::before,
    .header .container .header-inner .menu .menu-inner__item:hover ul {
        display: none;
    }
    .search-none .container .search-none-inner .right-column {
        width: 33%;
    }
    .search-not .container .search-not-inner .notes__item {
        width: 100%;
    }
    .search-not .container .search-not-inner {
        padding: 15px;
    }
    .table-page .container .table-page-inner .left-column .top-online .top-online__title .title-left__text {
        font-size: 15px;
    }
    .header .container .header-inner .top-block {
        justify-content: space-around;
        position: relative;
    }
    .top__button a {
        padding: 27px 50px;
    }
    .bonus-full .container .bonus-full-inner .left-column .bonus-banner .bonus-banner-inner .text-block__button a {
        padding: 15px 5px;
    }
}
@media (max-width: 800px) {
    .content2__table .table__item-links a {
        width: 160px;
    }
    .content2__table .table__item-links-more a,
    .content2__table .table__item-links-get-bonus a {
        font-size: 13px;
    }
    .casino-rating__header-title {
        font-size: 14px;
    }
    .casino-rating__item .item-inner__links a {
        font-size: 12px;
    }
    .content2__table .table__item {
        flex-wrap: wrap;
        justify-content: center;
    }
    .site-full .container .site-full-inner .left-column .rating-block-main {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .site-full .container .site-full-inner .left-column .rating-block-main > div {
        width: 46%;
    }
    .site-full .container .site-full-inner .left-column .rating-block-main__ratings .ratings__countries {
        width: 100%;
    }
    .site-full .container .site-full-inner .left-column .plusandminus-inner .minus,
    .site-full .container .site-full-inner .left-column .plusandminus-inner .plus {
        flex: 100%;
    }
    .site-full .container .site-full-inner .left-column .rating-block__links {
        flex-wrap: wrap;
    }
    .site-full .container .site-full-inner .left-column .rating-block__links > a {
        width: 50%;
    }
    .page-404 .container .page-404-inner .page-404__menu {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .page-404 .container .page-404-inner .page-404__menu li {
        margin: 5px;
    }
    .header .container .header-inner .menu {
        min-height: initial;
    }
    .header .container .header-inner .menu .menu-item ul {
        width: 100%;
    }
    .header .container .header-inner .top-block {
        flex-wrap: wrap;
        justify-content: center;
    }
    .header .container .header-inner .search-block,
    .header .container .header-inner .top-block .logo,
    .header .container .header-inner .banner {
        margin: 5px;
    }
    .item__rating-link a,
    .top-online .container .top-online-inner .top-online__content .content__item .item__features-text,
    .top-online .container .top-online-inner .top-online__content .content__item .item__bonus-text {
        font-size: 14px;
    }
    .top-online .container .top-online-inner .top-online__table-header {
        padding-right: 20px;
    }
    .content2__table > div a {
        padding: 7px 0 !important;
    }
    .content2__table .table__item-info-title {
        padding-left: 0 !important;
    }
    .comments .container .comments-inner div input,
    .comments .container .comments-inner .comments__comment textarea {
        width: 100% !important;
        box-sizing: border-box;
    }
    .item__rating-block {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .right-column .item__rating-block {
        justify-content: start;
    }
    .container-all .left-column {
        width: 68%;
    }
    .container-all .right-column {
        width: 33%;
    }
    .table-page .container .table-page-inner .left-column .top-online__content .content__item .item__get-bonus a,
    .top-online .container .top-online-inner .top-online__content .content__item .item__features-text p,
    .table-page .container .table-page-inner .left-column .top-online__content .content__item .item__bonus-text,
    .table-page .container .table-page-inner .left-column .top-online__content .content__item .item__rating-link{
        font-size: 16px;
    }
    .table-page .container .table-page-inner .left-column .top-online__content .content__item .item__rating-block span {
        font-size: 21px;
    }

        .top-online .container .top-online-inner .top-online__content .content__item .item-title,
        .top-online .container .top-online-inner .top-online__content .content__item .item__rating,
        .top-online .container .top-online-inner .top-online__content .content__item .item__features {
            display:none
        }
        .top-online .container .top-online-inner .top-online__content .content__item .item__image {
            flex-basis:20%
        }
        .top-online .container .top-online-inner .top-online__content .content__item .item__bonus {
            flex-basis:30%;
            padding:0 5%
        }
        .top-online .container .top-online-inner .top-online__content .content__item .item__rating-link {
            flex-basis:28%
        }
        .table-page .container .table-page-inner .left-column .top-online__content .content__item .item__get-bonus a span {
            display:none
        }
        .table-page .container .table-page-inner .left-column .top-online__content .content__item .item__get-bonus a:before {
            font-family: "FontAwesome";
            content:'\f054';
            position:relative;
            left:10px;
            font-size:20px
        }
        .table-page .container .table-page-inner .left-column .top-online__content .content__item .item__get-bonus a {
            padding:0;
            width: 30px;
            height: 30px;
            line-height: 32px;
            border-radius:50%;
            background:#EAAC34;
        }
}
@media (max-width: 768px) {
    .content2__table .table__item {
        flex-wrap: nowrap;
    }
    .casino-rating__item img {
        width: 200px;
    }
    .item__rating-block span {
        font-size: 30px;
    }
    
    .container-all .right-column,
    .container-all .left-column {
        width: 100%;
    }
    .bonuses__content .container .bonuses__content-inner .left-column h1 {
        padding-left: 15px;
    }
    .container .text-block > p,
    .text-block .column1__block p,
    .container .text-block h1, .container .text-block h2, .container .text-block h3, .container .text-block h4,
    .deposit-blocks {
        padding: 0 15px;
    }
    .blog-page .notes__item-image img {
        padding-left: 10px;
    }
    .content .container .content-inner .blog .slider {
        display: none;
    }
    .content .container .content-inner .blog,
    .blog-page .container .blog-page-inner .blog-page__column1 {
        max-width: 100%;
        margin-right: 0;
        margin-top: 20px;
    }
    .blog-page .container .blog-page-inner .blog-page__column1 .column1__block {
        padding: 10px;
    }
    .blog-page .container .blog-page-inner .blog-page__column1 {
        margin-top: 0;
    }
    .content .container .content-inner,
    .blog-page .container .blog-page-inner,
    .blog-full .container .blog-full-inner,
    .bonuses__content .container .bonuses__content-inner,
    .bonus-full .container .bonus-full-inner,
    .search-none .container .search-none-inner,
    .site-full .container .site-full-inner,
    .table-page .container .table-page-inner,
    .container .search-inner {
        display: block;
    }
    .search-none,
    .search-not {
        padding-top: 15px;
    }
    .oops-notice {
        font-size: 100px;
    }
    .table-page .container .table-page-inner .left-column,
    .table-page .container .table-page-inner .right-column,
    .blog-page .container .blog-page-inner .top,
    .bonus-full .container .bonus-full-inner .left-column,
    .bonus-full .container .bonus-full-inner .right-column,
    .right-column .top,
    .blog-full .container .blog-full-inner .left-column,
    .blog-full .container .blog-full-inner .right-column,
    .search-none .container .search-none-inner .left-column,
    .search-none .container .search-none-inner .right-column,
    .bonuses__content .container .bonuses__content-inner .left-column,
    .bonuses__content .container .bonuses__content-inner .right-column,
    .site-full .container .site-full-inner .left-column,
    .site-full .container .site-full-inner .right-column {
        width: 100%;
        margin-right: 0;
        box-sizing: border-box;
        max-width: 100%;
    }
    .text-section .container .text-section-inner {
        padding: 20px;
    }
    .text-section .container .text-section-inner .text-section__text,
    .text-section .container .text-section-inner .text-section__title {
        padding-left: 0;
    }
    .content2__table .table__item-links-get-bonus a {
        padding: 5px;
    }
    .social {
        padding-bottom: 10px;
    }
    .top__list-item-play {
        width: 110px;
        transition: .3s;
        float: right;
    }
    .top__list-item:hover img {
        margin-right: 20px;
        width: 32px;
        height: 32px;
    }
    .rating-block-main__slider img {
        width: 100%;
    }
    .site-full .container .site-full-inner .left-column .plusandminus-inner > div {
        width: 50%;
    }
    .table-page .container .table-page-inner h1 {
        padding: 0 15px;
    }
}
@media (max-width: 640px) {
    .top-online .container .top-online-inner .top-online__content .content__item > div {
        width: 25%;
    }
    .content2__table .table__item-links-get-bonus {
        padding: 0;
    }
    .site-full .container .site-full-inner .left-column .rating-block__links > a {
        flex: 100%;
    }
    .search-btn {
        background: url("/wp-content/themes/ontilt/images/search-button.png") no-repeat;
        background-size: contain;
        width: 29px; 
        height: 24px;   
        border-radius: 17px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 40px;
    }
    /* .search-block {
        display: none;
        position: absolute;
        top: 100%;
        background-color: #fff;
        width: 100%;
        box-sizing: border-box;
        margin: 0 !important;
        padding: 5px;
    } */
    .search-block {
        position: static;
    }
    .search-block form.active {
        width: 100%;
        left: 0;
    }
    .search-block form,
    .search-block .search-input input {
        width: 100%;
    }
    .breadcrumbs .container .breadcrumbs-inner .breadcrumbs__list {
        display: block;
    }
    .pages .pages__list {
        flex-wrap: wrap;
    }
    .breadcrumbs .container .breadcrumbs-inner .breadcrumbs__list .breadcrumbs__item {
        display: inline;
    }
    .page-404 .container .page-404-inner .page-404-text1 {
        font-size: 34px;
    }
    .page-404 .container .page-404-inner .page-404-text2 {
        font-size: 69px;
    }
    .page-404 .container .page-404-inner .page-404-text3 {
        font-size: 21px;
    }
    .top-online .container .top-online-inner .top-online__refresh,
    .top-online .container .top-online-inner .top-online__table-header {
        display: none;
    }
    .top-online-inner > a,
    .content2 .container .content2-inner > a {
        color: #373b40;
        font-family: "Proxima Nova";
        font-stretch: ultra-condensed;
        font-size: 20px;
        font-weight: 500;
        text-transform: uppercase;
        padding: 27px 0;
        width: 100%;
        text-align: center;
        box-sizing: border-box;
        transition: .3s;
        text-decoration: none;
        display: block;
        background: #fff;
    }
    .top-online-inner > a:hover,
    .content2 .container .content2-inner > a:hover {
        background: #ff6600;
        color: #fff;
    }
    .top-online .container .top-online-inner .top-online__title .title-left .title-left__text {
        color: #fff;
    }
    .top-online .container .top-online-inner .top-online__content .content__item {
        justify-content: center;
    }
    .top-online .item__rating {
        margin: 5px;
    }
    .content2 .container,
    .text-section2 .container {
        padding-top: 10px;
    }
    .content2 .container .content2-inner {
        padding: 0;
    }
    .content2 .container .content2-inner .content2__text,
    .content2 .container .content2-inner .content2__title {
        padding: 10px;
    }
    .top-online__refresh,
    .text-section2 .container .text-section2-inner .text-section2__bottom-block .text-section2__similar,
    .content2 .container .content2-inner .top-online__title {
        display: none;
    }
    .content2__table .table__item {
        flex-wrap: wrap;
        justify-content: center;
    }
    .content2__table .table__item > div {
        width: initial;
        margin: 5px;
    }
    .text-section2 .container .text-section2-inner .text-section2__bottom-block,
    .text-section2 .container .text-section2-inner .text-section2__text,
    .text-section2 .container .text-section2-inner .text-section2__title {
        padding: 0 15px;
        display: block;
    }
    .text-section2 .container .text-section2-inner .text-section2__bottom-block .text-section2__bottom-block-inner {
        width: 100%;
    }
    .text-section2 .container .text-section2-inner .text-section2__list {
        box-sizing: border-box;
        width: 100%;
        padding-left: 32px;
    }
    .social .container .social-inner .social-block li {
        padding: 5px 0;
    }
    .social .container .social-inner .social-block li a {
        height: 30px;
        background-size: contain !important;
    }
    .footer .container .footer-inner {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .footer .container .footer-inner .footer__subscribe2 {
        width: 100%;
        order: -1;
        margin-bottom: 10px;
    }
    .footer .container .footer-inner .footer__subscribe2 .subscribe2__inputs button {
        width: 40%;
    }
    .text-section2 .container .text-section2-inner {
        padding: 20px 0;
    }
    .content2__table .table__item-links {
        display: flex;
        justify-content: space-between;
    }
    .content2__table .table__item-links-more {
        margin-bottom: 0;
    }
    .content2__table .table__item-links > div {
        margin: 0 5px;
    }
    .top-online .container .top-online-inner .top-online__content .content__item .item__features {
        margin: 5px;
    }
    .top-online .container .top-online-inner .top-online__content .content__item .item__get-bonus a {
        font-size: 20px;
    }
    .top__list-item-play,
    .top__list-item:hover .top__list-item-play {
        width: 65px;
    }
    .blog-full .container .blog-full-inner .left-column {
        margin-bottom: 10px;
    }
    .blog-full .container .blog-full-inner .left-column .page-title,
    .blog-full .container .blog-full-inner .left-column .page-text {
        padding: 5px;
    }
    .blog-full .container .blog-full-inner .left-column .blog-full__title {
        padding-left: 5px;
    }
    .blog-full .container .blog-full-inner .left-column .text__info {
        margin: 10px 0;
    }
    .blog-full .container .blog-full-inner .left-column .page-ul {
        padding-left: 23px;
    }
    .best-bonuses .content2__table .table__item-links a {
        padding: 5px;
    }
    .search-none .container .search-none-inner .left-column .oops-notice {
        font-size: 70px;
        line-height: 1;
    }
    .table-page .container .table-page-inner .left-column .page-title,
    .table-page .container .table-page-inner .left-column .page-text,
    .table-page .container .table-page-inner .left-column-title {
        padding: 5px;
    }
    .content2__table .table__item-info-flags {
        width: initial;
    }
    .header .logo img {
        width: 195px;
        height: inherit;
        flex: none;
    }
}
@media (max-width: 568px) {
    .deposit-blocks a {
        width: 48%;
        margin: 1%;
    }
    .deposit-blocks {
        justify-content: center;
    }
    .site-full .container .site-full-inner .left-column .rating-block-main__slider .slider3__item img {
        width: 100%;
        height: initial;
    }
    .table-page .container .table-page-inner .left-column .top-online__content .content__item .item__get-bonus a,
    .top-online .container .top-online-inner .top-online__content .content__item .item__features-text p,
    .table-page .container .table-page-inner .left-column .top-online__content .content__item .item__bonus-text,
    .table-page .container .table-page-inner .left-column .top-online__content .content__item .item__features-text {
        font-size: 14px;
    }
    .notes__item-image img {
        padding-left: 0;
    }
    .header .container .header-inner .top-block {
        justify-content: flex-start;
    }
    .table-page .container .table-page-inner .left-column .top-online .top-online__title .title-right {
        flex-wrap: wrap;
        justify-content: center;
        font-size: 13px;
    }
    .table-page .container .table-page-inner .left-column .top-online .top-online__title .title-right > div {
        margin: 4px;
        width: initial;
    }
    .top-online .container .top-online-inner .top-online__content .content__item > div {
        width: 47%;
    }
    .site-full .container .site-full-inner .left-column .top-block,
    .table-page .container .table-page-inner .left-column .top-online .top-online__title {
        flex-wrap: wrap;
        justify-content: center;
    }
    .table-page .container .table-page-inner .left-column .top-online .top-online__title .title-right {
        color: #fff;
    }
    .search-not .container .search-not-inner .search-not__text {
        font-size: 17px;
    }
    .last-reviews__content a {
        width: 31%;
    }
    .left-column .blog-full__slider-inner .slider2__item img {
        flex: none;
        width: 50px !important;
    }
    .notes__button {
        padding: 25px 0;
    }
    .notes__button a {
        padding: 18px 0px;
        display: block;
    }
    .social .container .social-inner .social-block li a {
        height: 20px;
    }
    .text-section .container .text-section-inner .text-section__list-block {
        display: block;
    }
    .text-section .container .text-section-inner .text-section__list-block img {
        display: block;
        margin: 0 auto;
    }
    .bonus-full .container .bonus-full-inner .left-column .bonus-banner .bonus-banner-inner {
        flex-direction: column-reverse;
    }
    .bonus-full .container .bonus-full-inner .left-column .bonus-banner .bonus-banner-inner .text-block__button a {
        padding: 15px;
    }
    .bonus-full .container .bonus-full-inner .left-column .bonus-information__text1 {
        display: block;
    }
    .bonus-full .container .bonus-full-inner .left-column .bonus-banner .bonus-banner-inner .text-block__button,
    .bonus-full .container .bonus-full-inner .left-column .bonus-banner .bonus-banner-inner .text-block,
    .bonus-full .container .bonus-full-inner .left-column .bonus-information__text2 .text2__block-right,
    .bonus-full .container .bonus-full-inner .left-column .bonus-information__text1 .text1__items,
    .site-full .container .site-full-inner .left-column .rating-block-main > div,
    .site-full .container .site-full-inner .left-column .overview-first > div,
    .site-full .container .site-full-inner .left-column .overview-second > div,
    .site-full .container .site-full-inner .left-column .plusandminus > div,
    .site-full .container .site-full-inner .left-column .plusandminus-inner > div  {
        width: 100%;
    }
    .bonus-full .container .bonus-full-inner .left-column .bonus-information__text1,
    .bonus-full .container .bonus-full-inner .left-column .bonus-information__text2,
    .site-full .container .site-full-inner .left-column .overview-first,
    .site-full .container .site-full-inner .left-column .overview-second,
    .site-full .container .site-full-inner .left-column .plusandminus,
    .site-full .container .site-full-inner .left-column .plusandminus-inner {
        flex-wrap: wrap;
    }
    .bonus-full .container .bonus-full-inner .left-column .bonus-information__text2 .text2__block-left {
        margin-bottom: 5px;
    }
    .bonus-full .container .bonus-full-inner .left-column .bonus-information-inner .bonus-information__info1,
    .bonus-full .container .bonus-full-inner .left-column .bonus-information-inner .bonus-information__info2 {
        font-size: 14px;
        width: 50%;
    }
    .top-online .container .top-online-inner .top-online__content .content__item .item__features,
    .top-online .container .top-online-inner .top-online__content .item__bonus {
        max-width: 100%;
    }
}
@media (max-width: 480px) {
    .content2__table .table__item-info-flags {
        justify-content: center;
    }
    .content2__table .table__item > div {
        text-align: center;
    }
    .bonus-full .container .bonus-full-inner .left-column .bonus-banner .bonus-banner-inner .text-block__title .licensed {
        font-size: 15px;
    }
}
@media (max-width: 414px) {
    .last-reviews__content a img {
        height: 80%;
        object-fit: contain;
    }
    .deposit-blocks a {
        width: 100%;
        margin: 0 0 2%;
    }
    .notes__item {
        display: block;
    }
    .notes__item-image {
        margin-right: 0;
    }
    .notes__item-image img {
        width: 100%;
        height: initial;
        max-height: 200px;
    }
    .content2 .container .content2-inner .content2__table .table__item-info {
        width: 100%;
    }
    .content2__table .table__item-info-flags {
        margin: 0 auto;
    }
    .content2__table .table__item-info-title {
        text-align: center;
    }
    .bonus-full .container .bonus-full-inner .left-column .bonus-banner .bonus-banner-inner .text-block__title .licensed {
        display: block;
    }
    .bonus-full .container .bonus-full-inner .left-column .bonus-banner .bonus-banner-inner .text-block__title .licensed::before {
        position: relative;
        top: 5px;
    }
    .blog-page .notes__item-image img {
        width: 100%;
        height: initial;
        padding-left: 0;
    }
}
.text-block .text-section2__similar {
    margin-left: 5px;
}
@media (max-width: 375px) {
    .site-full .container .site-full-inner .left-column .content2__table-header .header-right,
    .site-full .container .site-full-inner .left-column .content2__table-header .header-left {
        font-size: 14px;
    }
    .casino-rating__item img {
        width: 100px;
    }
    
    .container .text-block ul {
        padding: 0 30px;
    }
    .notes__item {
        flex-wrap: wrap;
    }
    .text-block .text-section2__similar {
        float: none;
    }
    .top-online .container .top-online-inner .top-online__content .content__item > div,
    .top-online .container .top-online-inner .top-online__content .content__item .item__features,
    .top-online .container .top-online-inner .top-online__content .content__item .item__get-bonus {
        width: 100%;
    }
    .top-online .container .top-online-inner .top-online__content .content__item .item__image img {
        width: 100%;
        height: 140px;
        object-fit: cover;
    }
    .search-not .container .search-not-inner .notes__item {
        flex-wrap: wrap;
    }
    .notes__item-image,
    .notes__item-image img {
        width: 100%;
    }
    .content2__table .table__item-links {
        display: block;
    }
    .content2__table .table__item-links > div {
        margin-bottom: 5px;
    }
    .menu-arrow {
        right: 5px;
    }
}